ion-tabs{
    ion-header{
        &::after{display: none;}
        ion-toolbar{
            padding: 1rem;
        }
    }
    ion-tab-bar{
        --border: none;
        box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.16);
    }
}