<ion-tabs>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Carros</ion-title>
      <ion-button fill="clear" slot="end" color="light" (click)="logout()">
        <ion-icon name="power-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-tab-bar color="dark" slot="bottom">
    <ion-tab-button tab="passeio">
      <ion-icon name="car"></ion-icon>
      <ion-label>Passeio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="esportivo">
      <ion-icon name="car-sport"></ion-icon>
      <ion-label>Esportivo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
