ion-content{
  #logo{
    padding: 5rem;
    ion-icon{font-size: 8rem;}
  }
  ion-item{
    --background: transparent;
    --color: var(--ion-color-dark);
    &.item-has-focus ion-label{
      color: var(--ion-color-dark);
    }
  }
}