<ion-content [fullscreen]="true">

  <div id="logo" class="ion-text-center">
    <ion-icon name="car-sport"></ion-icon>
  </div>

  <form [formGroup]="form" (ngSubmit)="auth()" class="ion-padding">
    <ion-item>
      <ion-label position="floating">Usuário</ion-label>
      <ion-input type="email" formControlName="username"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" color="dark" class="ion-margin-top" [disabled]="form.invalid">Entrar</ion-button>
  </form>

</ion-content>
