<div id="container">
  <ion-slides [options]="slideOpts" *ngIf="!loading">
    <ion-slide *ngFor="let vehicle of vehicles">
      <ion-card>
        <img [src]="vehicle.urlIimage"/>
        <ion-card-header>
          <ion-card-title>{{ vehicle.nomeCarro }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-slides [options]="slideOpts" *ngIf="loading">
    <ion-slide *ngFor="let item of [1,2,3,4,5]">
      <ion-card>
        <ion-skeleton-text animated style="margin: 0; height: 12rem; width: 100vh;"></ion-skeleton-text>
        <ion-card-header>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>