#container{
    background: linear-gradient(to bottom, var(--ion-color-dark) 20%, var(--ion-color-light) 0);
    ion-slide{
        width: 85%;
        transition: all .2s;
        padding: 1.5rem 0;
        &.swiper-slide-active{
            z-index: 999;
            transform: scale(1.15);
        }
        ion-card{
            width: 100%;
            margin: .5rem 1rem;
            --background: #FFF;
            border-radius: 10px;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            img{
                width: 100%;
                height: 12rem;
                object-fit: cover;
            }
        }
    }
}